.game-item-container {
    border: 3px solid #ffdb17;
    border-radius: 15px;
    margin: 50px;
    width: 300px;
    cursor: pointer;

    & > header {
        border-bottom: 3px solid black;
        text-align: center;
        padding: 20px 0px;
    }

    & > footer {
        padding: 20px;
    }

    & > .action {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
        align-items: center;

        & > a {
            text-decoration: none;
            color: blue;
            display: block;
            border: 1px solid blue;
            border-radius: 15px;
            padding: 5px 15px;

            &:hover {
                background-color: rgb(230, 230, 230);
            }
        }
    }
}