.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 30px;
}