.table-words {
  width: 100%;
  border-collapse: collapse;
  font-size: 25px;
  margin-top: 30px;

  td {
    border: 1px solid #dfdfdf;
    padding: 10px 10px;
    text-align: center;
    vertical-align: middle;
  }

  & > thead {
    font-weight: bold;
  }
}

.button-delete-word {
  width: 60px;

  & > button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdb17;
    outline: none;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 0px 15px;

    & > img {
        width: 20px;
        height: 20x;
    }
  }
}