.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 230px;
  background-color: #282828;
  border-right: 5px solid #ffdb17;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 140px;
  height: 45px;
  margin: 30px 135px 0px 35px;

  @media (max-width: 600px) {
    display: none;
  }
}

.sidebar-block {
  margin: 50px 0px 0px 35px;
  p {
    color: #737373;
    font-size: 14px;
  }

  @media (max-width: 600px) {
    margin: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      display: none;
    }
  }
}

.sidebar-block-item {
  margin: 15px 0px 0px 15px;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 20px;

    @media (max-width: 600px) {
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 50px;
  }
}